.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  background: linear-gradient(45deg, #ffeb3b, #ff9800);
  color: var(--white-900);
  padding: 1rem;
  margin-left: 2rem;
  border-radius: 10px;
  width: 500px;
  max-width: 100%;
  filter: drop-shadow(15px 15px 15px hsl(76deg 0% 0% /0.5));
}

.card img {
  filter: drop-shadow(15px 15px 15px hsl(76deg 0% 0% /0.5));
}

.pokemonPhoto {
  width: 250px;
  height: 250px;
  background-color: whitesmoke;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  font-family: 'Roboto', sans-serif;
  color: white;
}