.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  background: linear-gradient(45deg, #ffeb3b, #ff9800);
  color: var(--white-900);
  padding: 1rem;
  margin-left: 2rem;
  border-radius: 10px;
  width: 500px;
  max-width: 100%;
  filter: drop-shadow(15px 15px 15px hsl(76deg 0% 0% /0.5));
}

.card img {
  filter: drop-shadow(15px 15px 15px hsl(76deg 0% 0% /0.5));
}

.pokemonPhoto {
  width: 250px;
  height: 250px;
  background-color: whitesmoke;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  font-family: 'Roboto', sans-serif;
  color: white;
}

:global(.lds-ring) {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
:global(.lds-ring) div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #cacaca;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #cacaca transparent transparent transparent;
}
:global(.lds-ring) div:nth-child(1) {
  animation-delay: -0.45s;
}
:global(.lds-ring) div:nth-child(2) {
  animation-delay: -0.3s;
}
:global(.lds-ring) div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 860px) {
  .card {
    width: 300px;
    margin-left: 0;
  }
}
