@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&family=Spectral:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}